:root {
    --primary: #B6571E;
    --dark-primary: #53290F;
    --off-white: #F9F9F9;
    --szary: #686868;
}

.box {
    min-height: 80vh;
}

.wrapper .button-1 {
    margin: auto;
    text-align: center;
}

#do-wiadomosci {
    text-align: center;
    padding-bottom: 10px;
}

.kontakt-box {
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 40px 30px;
    margin: 0 20px 30px;
    text-align: center;
}

.kontakt-box p {
    font-size: 18px;
    width: 75%;
    margin: auto;
}

.kontakt-box p span, .kontakt-box h2 span {
    color: var(--primary);
    font-weight: bold;
}

.flex-boxy {
    display: flex;
}

.box-left {
    flex: 1; /* Pierwsza kolumna 1/3 dostępnej przestrzeni */
    padding: 10px;
}

#map {
    margin-top: 10px;
    width: 100%;
    height: 50%;
}

.box-left p {
    text-align: left;
    padding: 0 10px;
    width: 100%;
}

.box-right {
    flex: 2; /* Pierwsza kolumna 1/3 dostępnej przestrzeni */
    padding: 10px;
}

.box-right .input-box, .box-right .input-box input{
    width: 100%;
    max-width: none;
}

.input-box input[type="email"] {
    width: calc(100% - 22px) !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px !important;
}


.dwa-w-rzedzie {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px;
}

.box-right input[type="submit"]{
    border: none;
    width: 250px;
}

@media only screen and (max-width: 974px) {
    .flex-boxy {
        flex-direction: column;
    }

    #map {
        height: 300px;
    }
}

/* WIADOMOSCI */

.wiadomosc {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(182, 87, 30, 0.15);
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    line-height: 130%;
}

.dane, .tresc-wiad {
    text-align: left;
}

.tresc-wiad p {
    text-align: left;
    margin-left: 0px;
}

@media screen and (max-width: 880px)
{
    .wiadomosc {
        grid-template-columns: 1fr;
    }
}
